*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
header{
    height: 100vh;
    background: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)),url(image8.jpg);
    background-size: cover;
    background-position: center;

}
.main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 85%;
    padding: 35px 0;
    margin: auto;

}
ul{
    list-style-type: none;

}
ul li{
    display: inline-block;
    position: relative;
    margin: auto 10px;
}
ul li a{
    color: white;
    text-decoration: none;
    /* padding:2px 20px; */
    

}
ul li::after{
    content: "";
    width:0;
    height: 3px;
    background: rgb(30, 175, 1);
    position: absolute;
    bottom: 0px;
    left:0px;
    transition: 0.6s ease;

}
ul li:hover::after{
    width:100%;
}
.title{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50);
    text-align: center;
    color: white;

}
.title h1{
    font-family: Verdana;
    font-size: 40px;
}
.title p{
    font-weight: 500px;
    line-height: 40px;
}